<nav class="navbar navbar-expand-xl navbar-dark">
    <a class="navbar-brand mr-auto" href="/"><img width="30%" height="auto" src="http://plaisir-dapprendre.com/image/logo.png"></a>
    <ul class="navbar-nav justify-content-end">
        <% if ((username.length > 0)) { %>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/logout">Deconnexion</a>
        </li>
        <% } %>
    </ul>
</nav>  