<%- include partials/head.ejs %>

<%- include partials/navbar.ejs %>

<%- include partials/sub-navbar.ejs %>

<!-- agenda -->

<h1>MON AGENDA PESD</h1>

<div>Lorem ipsum dolor sit amet  <button class="btn btn-primary">Commencer</button></div>
<div>Lorem ipsum dolor sit amet  <button class="btn btn-primary">Commencer</button></div>

<div>
	<button class="btn btn-primary">Demander un nouveau PESD</button>
</div>

<!-- anciens PESD -->

<h1>MES ANCIENS PESD</h1>

<div>Lorem ipsum dolor sit amet  <button class="btn btn-primary">Résultat</button></div>
<div>Lorem ipsum dolor sit amet  <button class="btn btn-primary">Résultat</button></div>

<div>
	<button class="btn btn-primary">Comparer tous les résultats</button>
</div>

<!-- mes infos -->

<h1>MON COMPTE</h1>

<p>Nom</p>
<p>Prénom</p>
<p>Ville</p>
<p>Pays</p>
<p>Date de naissance</p>

<div>
	<button class="btn btn-primary">Modifier mes infos</button>
</div>

<div>
	<button class="btn btn-primary">Modifier mon mot de passe</button>
</div>




<%- include partials/footer.ejs %>

