<%include ./partials/head.ejs%>
<%include ./partials/navbar.ejs%>
<div class="container" id="panneau">
	<div class="row">
		<div class="col-sm">
			<p>Le test du PESD peut être passé en ligne ou chez un médiateur.</p>
		</div>	
		<div class="col-sm">
			<p>Le test du PESD peut être accompagné de séances de médiation cognitive.</p>
		</div>
		<div class="col-sm">
			<a class="form-text" href=""><button class="btn btn-primary">Connexion</button></a>
			<a class="form-text" href=""><button class="btn btn-primary">Inscription</button></a>	
		</div>
	</div>	
	<div class="row">
		<div class="col-sm">
			<p>Le PESD compare par rapport à l'âge. Il existe des normes par âge et par pays.</p>
		</div>
		<div class="col-sm">
			<p>Mise en relation avec le professionnel le plus proche de chez vous.</p>
		</div>
		<div class="col-sm">
			
		</div>
	</div>	
	<div class="row">
		<div class="col-sm">
			<p>Le PESD peut être passé plusieurs fois,chaque fois, il permet de se comparer et trouver de nouvelles perspectives de réflexion</p>
		</div>
		<div class="col-sm">
			<p>Vous avez passé un test par un organisme partenaire ?
			Connectez-vous pour accéder à vos résultats.</p>
		</div>
		<div class="col-sm"></div>
	</div>														
</div>
<%include ./partials/footer.ejs%>