body {
	/background-image:url('https://dl.phncdn.com/gif/9756372.gif');
	background-repeat:repeat;
	background-size: 250px 150px;
}

nav {
	background-color:#F4F4F4FF;
}

#panneau {
	margin-top:50px;
	margin-left:15%;
	background-color:#F4F4F4FF;
}