nav {
	background-color:#F4F4F4FF;
}

#panneau {
	margin-top:50px;
	width:80%;
	background-color:#F4F4F4FF;
}

#dashboard {
	margin-top:50px;
	margin-left:15%;
}

.btn-lg {
	margin-bottom: 30px;
}

#rdv {
	margin-top:50px;
}

.test {
	color:red;
}


.modal-dialog {
  max-width: 80%;
  height: 80% ;
  padding: 0 ;
  margin:0 auto ;
 
}


