<div class="container-fluid">
	
	<div class="row">

		<div class="col-8">
			<img class="img-fluid" src="img/PESD.png" alt="">
		</div>

		<div class="col-4"></div>

	</div>

	<div class="row">
		<div class="col-8">

			<form action="/pointA" method="POST">

				<div class="form-group">
					<textarea style="width:100%;resize: none;" name="pointA" id="pointA" rows="10" placeholder="Entre tes réponses ici"></textarea>
				</div>

				<input class="btn btn-primary" type="submit" value="Envoyer">

			</form>

		</div>

		<div class="col-4">
			<h3>Consigne</h3>
			<p>Quelles questions pourrais-je te poser à propos de ce dessin ?</p>
		</div>

	</div>

</div>