<div class="container">	
	<div class="row">
		<div class="col-8">
			
			<img class="img-fluid" id="modal-trigger" data-toggle="modal" data-target="#img-pesd" src=<% if(etape!='E' && etape!='D'){%>"/img/PESD.png"<%}else{%>"/img/black.png"<%}%> alt="">


		</div>
		<div class="col-4">
			<h3>Histoire</h3>
			<p><%=histoire%></p>
		</div>
	</div>
	<div class="row">
		<div class="col-8">
			<form action="" method="POST">
				<div class="form-group">
					<textarea style="width:100%;resize: none;" name="answer" id="answer" rows="10" placeholder="Entre tes réponses ici"></textarea>
				</div>
				<input class="btn btn-primary" type="submit" id="sendtext" value="Envoyer">
			</form>
		</div>
		<div class="col-4">
			<h3>Consigne</h3>
			<p><%=consigne%></p>
		</div>
	</div>
</div>

<div class="modal fade" id="img-pesd" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Plaisir d'apprendre</h5>
			</div>
			<div class="modal-body">
				<img src="/img/PESD.png" data-dismiss="modal" aria-label="Close" alt="" class="img-fluid close">

			</div>
		</div>
	</div>
</div>

<script>
    var idP = "<%=idP%>";
    alert(idP);
</script>