<%include ../partials/head.ejs%>
<%include ../partials/navbar.ejs%> 
<div class="container"><center>
	<form class="" method="POST" action="/signup">
		<div class="form-group">
			<label for="test">Nom</label>
			<input type="text" id="test" name="teiufez">
		</div>
		<div class="form-group">
			<label for="test2">Prenom</label>
			<input type="text" id="test2" name="">
		</div>
		<div class="form-group">
			<label for="test3">Mail</label>
			<input type="text" id="test3" name="">
		</div>
		<div class="form-group">
			<label for="test4">Mot de passe</label>
			<input type="text" id="test4" name="">
		</div>
		<button class="btn btn-primary" type="submit">S'inscrire</button>
	</form>
</center>
</div>
<%include ../partials/footer.ejs%>