<%include ../partials/head.ejs%>
<%include ../partials/navbar.ejs%>
<div class="container"><center>
	<form method="POST" action="/signin">
		<div class="form-group">
			<label class="form-text" for='mail'>Mail</label>
			<input type="text" name="mail" id="mail">
		</div>
		<div class="form-group">
			<label class="form-text" for="pass">Mot de passe</label>			
			<input type="text" name="pass" id="pass">
		</div>
		<button class="btn btn-primary" type="submit">Se connecter</button>
	</form>
</center>
</div>
<%include ../partials/footer.ejs%>